#app_header {
    height: 150px;
}

#app_footer {
    height: 100px;
}

.my_background {
    background-color: #7fffd4;

}

.my_btn {
    background-color: #7fffd4;
    border: 1px solid;
    transition-duration: 0.3s;
}

.my_btn:hover {
    background-color: #025e3f;
    color: white;
}

.cell {
    width: calc(100% / 10);
    aspect-ratio: 1 / 1;
    border: 1px solid;
}
.cell2 {
    width: calc(100% / 9);
    aspect-ratio: 1 / 1;
    border: 1px solid;
}
.cell3 {
    width: calc(100% / 7);
    aspect-ratio: 1 / 1;
    border: 1px solid;
}